<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hiberus\Conchero\Api\AlumnoRepositoryInterface">
        <plugin name="hiberus-conchero-plugin" type="Hiberus\Conchero\Plugin\PluginCambioNotas" />
    </type>
</config>
